@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:500,600,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=icon-]:before {
  display: block
}
.icon-s-yt:before {
  content: "\e900"
}
.icon-s-twr:before {
  content: "\e901"
}
.icon-s-inst:before {
  content: "\e902"
}
.icon-s-fb:before {
  content: "\e903"
}
.icon-ch-down:before {
  content: "\e904"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  line-height: 1;
  font-family: "";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0
}
body {
  background-color: #fff9f4;
  color: #8c8b8a;
  font-family: Inter,sans-serif
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.menu__item {
  color: #000;
  font-family: Merriweather,serif;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1.2
}
.menu__item--active {
  font-weight: 700
}
.menu__item--parent {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: .25rem;
  cursor: pointer
}
.menu__item--parent::before {
  font-size: 1rem
}
.sub-list {
  padding-top: .625rem;
  left: 0;
  top: 100%;
  background-color: #fff9f4;
  transition: all .3s;
  display: flex;
  flex-direction: column
}
.sub-list__item {
  padding: .625rem .9375rem;
  color: #0e333d
}
.icon-menu {
  display: none
}
.spoilers__item {
  font-size: 1.25rem
}
.spoilers__title {
  width: 100%;
  cursor: pointer;
  position: relative;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  transition: color .3s
}
.spoilers__title::before {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.spoilers__title._spoiler-active::before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.spoilers__title::-webkit-details-marker,
.spoilers__title::marker {
  display: none
}
._spoiler-init .spoilers__title {
  cursor: pointer
}
.tabs__navigation {
  display: flex
}
.tabs__title {
  border: 1px solid #eee;
  padding: .625rem .9375rem;
  border-radius: .3125rem
}
.tabs__title._tab-active {
  border: 1px solid #000
}
.tabs__content {
  border: 1px solid #eee;
  padding: .625rem .9375rem
}
.splide__arrow {
  align-items: start;
  background: 0 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: auto;
  opacity: 1;
  padding: 0;
  position: static;
  top: 0;
  -webkit-transform: none;
  transform: none;
  width: auto;
  z-index: 1
}
.splide__arrows--ttb .splide__arrow {
  left: 0;
  -webkit-transform: none;
  transform: none
}
.splide__pagination {
  bottom: 0;
  left: 0;
  padding: 0;
  position: static;
  z-index: 1;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  margin: 0
}
.splide__pagination-page {
  background-color: #d8d8d8;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: auto;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: static;
  transition: none;
  width: auto;
  height: .5rem;
  width: .5rem
}
.splide__pagination-page.is-active {
  background-color: #0e333d
}
.splide__slide.is-active {
  border: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.menu__link,
.product-card__link-title {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.hero__link {
  text-decoration: underline;
  text-decoration-color: inherit;
  transition: text-decoration-color .3s
}
.product-card__image-link {
  overflow: hidden
}
.product-card__image-link img {
  transition: all .3s
}
.button {
  padding: .75rem 1.625rem;
  color: #fff;
  flex-shrink: 0;
  background-color: #0e333d;
  font-family: Merriweather,serif;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: .3125rem;
  transition: background-color .3s;
  text-transform: capitalize
}
.button:focus {
  background-color: #0a4855
}
.product-card {
  color: #000
}
.product-card--white-text {
  color: #fff
}
.product-card__image-link {
  border-radius: .3125rem;
  aspect-ratio: 1/1
}
.product-card__image-link:not(:last-child) {
  margin-bottom: 1.0625rem
}
.product-card__image-link--wide {
  aspect-ratio: 369/277.521
}
.product-card__price,
.product-card__title {
  font-family: "Cormorant Infant";
  font-weight: 700
}
.product-card__price:not(:last-child),
.product-card__title:not(:last-child) {
  margin-bottom: .25rem
}
.product-card__price:not(:last-child) {
  margin-bottom: .25rem
}
.info-block > * {
  margin-bottom: .8125rem
}
.info-block__title {
  margin-bottom: 1.5625rem
}
.info-block__title--big {
  line-height: 1.46
}
.info-block__text {
  font-family: Inter,sans-serif;
  font-size: 1.25rem
}
.info-block__text--dark {
  color: #474747;
  font-family: Inter,sans-serif;
  line-height: 1.8
}
.info-block > *:last-child {
  margin-bottom: auto
}
.sub-title {
  color: #d06b00;
  font-family: Inter,sans-serif;
  text-transform: uppercase
}
.sub-title--small {
  font-size: .9375rem
}
.title {
  color: #0e333d;
  font-family: "DM Serif Text",serif;
  line-height: 1.27
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding-top: 1.4375rem;
  padding-bottom: 1.4375rem;
  background-color: #fff9f4;
  border-bottom: rgba(131,131,131,.21) solid .0625rem
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem
}
.header__logo {
  color: #000;
  font-family: Merriweather,sans-serif;
  font-style: italic;
  font-weight: 700;
  text-wrap: nowrap;
  position: relative;
  z-index: 1
}
.header__actions {
  display: flex;
  gap: .9375rem;
  align-items: center;
  position: relative;
  z-index: 1
}
.page__hero {
  display: flex;
  align-items: center
}
.hero__text {
  line-height: 1.48;
  color: #727272
}
.hero__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start
}
.hero__button {
  font-family: "DM Serif Text",serif;
  font-weight: 400
}
.hero__link {
  color: #0e333d;
  font-family: "DM Serif Text",serif
}
.hero__images {
  display: flex;
  margin-left: -1em;
  margin-right: -1em
}
.hero__image {
  aspect-ratio: 245.64/467.726;
  flex: 1 1 40.229885%;
  margin: auto 1em
}
.hero__image:nth-child(even) {
  -webkit-transform: translateY(-4.375rem);
  transform: translateY(-4.375rem)
}
.hero__body > *:last-child {
  margin-bottom: auto
}
.products {
  color: #fff;
  background-color: #0e333d
}
.products__header {
  display: grid;
  gap: 1.4375rem
}
.products__header:not(:last-child) {
  margin-bottom: 2.125rem
}
.products__title {
  color: #fff;
  text-align: center
}
.products__text {
  text-align: center;
  font-weight: 500;
  color: #ebebeb;
  font-family: Raleway,sans-serif;
  line-height: 1.27
}
.tabs-products__navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}
.tabs-products__title {
  font-family: "Cormorant Infant",sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.tabs-products__title._tab-active {
  text-decoration-color: inherit
}
.items-products {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10.625rem,1fr));
  gap: 1.875rem
}
.what-we-do__images {
  display: flex;
  margin-left: -.6875em;
  margin-right: -.6875em
}
.what-we-do__image {
  aspect-ratio: 273/518;
  flex: 1 1 45.049505%;
  margin: auto .6875em
}
.what-we-do__body > *:last-child {
  margin-bottom: auto
}
.pop-products__header {
  text-align: center
}
.pop-products__body {
  display: flex;
  align-items: flex-start;
  gap: 1.9375rem
}
.pop-products__image {
  aspect-ratio: 398/728.586;
  flex: 1 0 33.249791%;
  border-radius: .3125rem;
  overflow: hidden
}
.pop-products__items {
  display: grid;
  gap: 1.875rem
}
.feedback__header {
  text-align: center
}
.item-feedback {
  background-color: #fff;
  border-radius: .75rem;
  border: .0625rem solid #d8d8d8;
  display: grid;
  gap: 2.0625rem
}
.item-feedback__text {
  font-size: 1.125rem;
  color: #323232;
  line-height: 1.8
}
.item-feedback--blue .item-feedback__text {
  color: #fff
}
.item-feedback--blue {
  background-color: #0e333d
}
.author-feedback {
  display: flex;
  gap: 1rem
}
.author-feedback__image {
  width: 3.5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  border: .0625rem #fff solid;
  flex-shrink: 0
}
.author-feedback__body {
  display: grid;
  gap: .625rem
}
.author-feedback__title {
  font-weight: 500;
  color: #323756;
  font-size: 1.25rem
}
.item-feedback--blue .author-feedback__title {
  color: #fff
}
.author-feedback__label {
  color: #646464;
  font-size: 1rem
}
.item-feedback--blue .author-feedback__label {
  color: #a5a5a5
}
@media (min-width:28.75em) {
  .pop-products__items {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:52.5em) {
  .hero__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 4.375rem
  }
  .what-we-do__container {
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
  .what-we-do__images {
    padding-left: 2.375rem
  }
}
@media (min-width:61.99875em) {
  .sub-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transform: translateY(1.25rem);
    transform: translateY(1.25rem)
  }
}
@media (min-width:75em) {
  .menu__list {
    gap: 2.25rem
  }
  .splide__track:not(:last-child) {
    margin-bottom: 3.5rem
  }
  .product-card__price,
  .product-card__title {
    font-size: 1.5rem
  }
  .info-block__title {
    font-size: 3rem
  }
  .info-block__title--big {
    font-size: 3.6875rem
  }
  .info-block__text--dark {
    font-size: 1.25rem
  }
  .sub-title {
    font-size: 1.75rem
  }
  .header__logo {
    font-size: 1.875rem
  }
  .page__hero {
    padding-top: 6.25rem
  }
  .page__hero {
    margin-bottom: 8.75rem
  }
  .page__products {
    margin-bottom: 8.75rem
  }
  .page__what-we-do {
    margin-bottom: 8.75rem
  }
  .page__pop-products {
    margin-bottom: 8.75rem
  }
  .page__feedback {
    margin-bottom: 7.8125rem
  }
  .hero__body > * {
    margin-bottom: 2rem
  }
  .hero__title {
    font-size: 4.875rem
  }
  .hero__text {
    margin-bottom: 3rem
  }
  .hero__text {
    font-size: 1.375rem
  }
  .hero__actions {
    gap: 2.9375rem
  }
  .hero__button {
    font-size: 1.75rem
  }
  .hero__link {
    font-size: 1.75rem
  }
  .hero__images {
    padding-left: 5.375rem
  }
  .products {
    padding-top: 5.875rem
  }
  .products {
    padding-bottom: 5.875rem
  }
  .products__title {
    font-size: 3rem
  }
  .products__text {
    font-size: 1.25rem
  }
  .tabs-products__navigation {
    gap: 2.5625rem
  }
  .tabs-products__navigation {
    margin-bottom: 4.8125rem
  }
  .what-we-do__body > * {
    margin-bottom: 2rem
  }
  .pop-products__header:not(:last-child) {
    margin-bottom: 8rem
  }
  .feedback__header:not(:last-child) {
    margin-bottom: 5.8125rem
  }
  .item-feedback {
    padding: 3rem
  }
}
@media (max-width:20em) {
  .menu__list {
    gap: .625rem
  }
  .splide__track:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .product-card__price,
  .product-card__title {
    font-size: 1.125rem
  }
  .info-block__title {
    font-size: 1.5rem
  }
  .info-block__title--big {
    font-size: 2.25rem
  }
  .info-block__text--dark {
    font-size: 1rem
  }
  .sub-title {
    font-size: 1.25rem
  }
  .header__logo {
    font-size: 1rem
  }
  .page__hero {
    padding-top: 1.875rem
  }
  .page__hero {
    margin-bottom: 2.5rem
  }
  .page__products {
    margin-bottom: 2.5rem
  }
  .page__what-we-do {
    margin-bottom: 2.5rem
  }
  .page__pop-products {
    margin-bottom: 2.5rem
  }
  .page__feedback {
    margin-bottom: 1.875rem
  }
  .hero__body > * {
    margin-bottom: 1.25rem
  }
  .hero__title {
    font-size: 2.25rem
  }
  .hero__text {
    margin-bottom: 1.5rem
  }
  .hero__text {
    font-size: 1rem
  }
  .hero__actions {
    gap: 1.25rem
  }
  .hero__button {
    font-size: 1.125rem
  }
  .hero__link {
    font-size: 1.125rem
  }
  .products {
    padding-top: 2.25rem
  }
  .products {
    padding-bottom: 2.25rem
  }
  .products__title {
    font-size: 1.5rem
  }
  .products__text {
    font-size: 1rem
  }
  .tabs-products__navigation {
    gap: 1.5rem
  }
  .tabs-products__navigation {
    margin-bottom: 2.5rem
  }
  .what-we-do__body > * {
    margin-bottom: 1.25rem
  }
  .pop-products__header:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .feedback__header:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .item-feedback {
    padding: .9375rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #fff9f4;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    padding-top: 5.625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.675rem;
    border-bottom: rgba(131,131,131,.21) solid .0625rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #fff9f4
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    gap: 2.25rem
  }
  .menu__item {
    font-size: 1.875rem
  }
  .sub-list__item {
    font-size: 1.5625rem;
    text-align: center
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #0e333d
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .spoilers__title {
    font-size: 1.875rem
  }
  .header {
    padding-top: .9375rem;
    padding-bottom: .9375rem
  }
}
@media (max-width:61.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:52.5em) {
  .hero__body:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__images {
    padding-top: 1.875rem
  }
  .hero__images:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__image:nth-child(even) {
    -webkit-transform: translateY(-1.875rem);
    transform: translateY(-1.875rem)
  }
  .what-we-do__body:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .what-we-do__images:not(:last-child) {
    margin-bottom: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .pop-products__image {
    display: none
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (gap:clamp(0.625rem ,0.0340909091rem + 2.9545454545vw ,2.25rem)) {
    .menu__list {
      gap: clamp(.625rem ,.0340909091rem + 2.9545454545vw ,2.25rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.0340909091rem + 2.9545454545vw ,2.25rem)) {
    .menu__list {
      gap: calc(.625rem + 1.625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.4318181818rem + 4.0909090909vw ,3.5rem)) {
    .splide__track:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.4318181818rem + 4.0909090909vw ,3.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.4318181818rem + 4.0909090909vw ,3.5rem)) {
    .splide__track:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9886363636rem + 0.6818181818vw ,1.5rem)) {
    .product-card__price,
    .product-card__title {
      font-size: clamp(1.125rem ,.9886363636rem + .6818181818vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9886363636rem + 0.6818181818vw ,1.5rem)) {
    .product-card__price,
    .product-card__title {
      font-size: calc(1.125rem + .375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.9545454545rem + 2.7272727273vw ,3rem)) {
    .info-block__title {
      font-size: clamp(1.5rem ,.9545454545rem + 2.7272727273vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.9545454545rem + 2.7272727273vw ,3rem)) {
    .info-block__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2.25rem ,1.7272727273rem + 2.6136363636vw ,3.6875rem)) {
    .info-block__title--big {
      font-size: clamp(2.25rem ,1.7272727273rem + 2.6136363636vw ,3.6875rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,1.7272727273rem + 2.6136363636vw ,3.6875rem)) {
    .info-block__title--big {
      font-size: calc(2.25rem + 1.4375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .info-block__text--dark {
      font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .info-block__text--dark {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.0681818182rem + 0.9090909091vw ,1.75rem)) {
    .sub-title {
      font-size: clamp(1.25rem ,1.0681818182rem + .9090909091vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.0681818182rem + 0.9090909091vw ,1.75rem)) {
    .sub-title {
      font-size: calc(1.25rem + .5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.6818181818rem + 1.5909090909vw ,1.875rem)) {
    .header__logo {
      font-size: clamp(1rem ,.6818181818rem + 1.5909090909vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6818181818rem + 1.5909090909vw ,1.875rem)) {
    .header__logo {
      font-size: calc(1rem + .875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.2840909091rem + 7.9545454545vw ,6.25rem)) {
    .page__hero {
      padding-top: clamp(1.875rem ,.2840909091rem + 7.9545454545vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.2840909091rem + 7.9545454545vw ,6.25rem)) {
    .page__hero {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__hero {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__hero {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__products {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__products {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__what-we-do {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__what-we-do {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__pop-products {
      margin-bottom: clamp(2.5rem ,.2272727273rem + 11.3636363636vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.2272727273rem + 11.3636363636vw ,8.75rem)) {
    .page__pop-products {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,-0.2840909091rem + 10.7954545455vw ,7.8125rem)) {
    .page__feedback {
      margin-bottom: clamp(1.875rem ,-.2840909091rem + 10.7954545455vw ,7.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,-0.2840909091rem + 10.7954545455vw ,7.8125rem)) {
    .page__feedback {
      margin-bottom: calc(1.875rem + 5.9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.9772727273rem + 1.3636363636vw ,2rem)) {
    .hero__body > * {
      margin-bottom: clamp(1.25rem ,.9772727273rem + 1.3636363636vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.9772727273rem + 1.3636363636vw ,2rem)) {
    .hero__body > * {
      margin-bottom: calc(1.25rem + .75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2.25rem ,1.2954545455rem + 4.7727272727vw ,4.875rem)) {
    .hero__title {
      font-size: clamp(2.25rem ,1.2954545455rem + 4.7727272727vw ,4.875rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,1.2954545455rem + 4.7727272727vw ,4.875rem)) {
    .hero__title {
      font-size: calc(2.25rem + 2.625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.5rem ,0.9545454545rem + 2.7272727273vw ,3rem)) {
    .hero__text {
      margin-bottom: clamp(1.5rem ,.9545454545rem + 2.7272727273vw ,3rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5rem ,0.9545454545rem + 2.7272727273vw ,3rem)) {
    .hero__text {
      margin-bottom: calc(1.5rem + 1.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.8636363636rem + 0.6818181818vw ,1.375rem)) {
    .hero__text {
      font-size: clamp(1rem ,.8636363636rem + .6818181818vw ,1.375rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8636363636rem + 0.6818181818vw ,1.375rem)) {
    .hero__text {
      font-size: calc(1rem + .375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(1.25rem ,0.6363636364rem + 3.0681818182vw ,2.9375rem)) {
    .hero__actions {
      gap: clamp(1.25rem ,.6363636364rem + 3.0681818182vw ,2.9375rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.6363636364rem + 3.0681818182vw ,2.9375rem)) {
    .hero__actions {
      gap: calc(1.25rem + 1.6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.8977272727rem + 1.1363636364vw ,1.75rem)) {
    .hero__button {
      font-size: clamp(1.125rem ,.8977272727rem + 1.1363636364vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.8977272727rem + 1.1363636364vw ,1.75rem)) {
    .hero__button {
      font-size: calc(1.125rem + .625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.8977272727rem + 1.1363636364vw ,1.75rem)) {
    .hero__link {
      font-size: clamp(1.125rem ,.8977272727rem + 1.1363636364vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.8977272727rem + 1.1363636364vw ,1.75rem)) {
    .hero__link {
      font-size: calc(1.125rem + .625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(2.25rem ,0.9318181818rem + 6.5909090909vw ,5.875rem)) {
    .products {
      padding-top: clamp(2.25rem ,.9318181818rem + 6.5909090909vw ,5.875rem)
    }
  }
  @supports not (padding-top:clamp(2.25rem ,0.9318181818rem + 6.5909090909vw ,5.875rem)) {
    .products {
      padding-top: calc(2.25rem + 3.625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(2.25rem ,0.9318181818rem + 6.5909090909vw ,5.875rem)) {
    .products {
      padding-bottom: clamp(2.25rem ,.9318181818rem + 6.5909090909vw ,5.875rem)
    }
  }
  @supports not (padding-bottom:clamp(2.25rem ,0.9318181818rem + 6.5909090909vw ,5.875rem)) {
    .products {
      padding-bottom: calc(2.25rem + 3.625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.9545454545rem + 2.7272727273vw ,3rem)) {
    .products__title {
      font-size: clamp(1.5rem ,.9545454545rem + 2.7272727273vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.9545454545rem + 2.7272727273vw ,3rem)) {
    .products__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .products__text {
      font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9090909091rem + 0.4545454545vw ,1.25rem)) {
    .products__text {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(1.5rem ,1.1136363636rem + 1.9318181818vw ,2.5625rem)) {
    .tabs-products__navigation {
      gap: clamp(1.5rem ,1.1136363636rem + 1.9318181818vw ,2.5625rem)
    }
  }
  @supports not (gap:clamp(1.5rem ,1.1136363636rem + 1.9318181818vw ,2.5625rem)) {
    .tabs-products__navigation {
      gap: calc(1.5rem + 1.0625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.6590909091rem + 4.2045454545vw ,4.8125rem)) {
    .tabs-products__navigation {
      margin-bottom: clamp(2.5rem ,1.6590909091rem + 4.2045454545vw ,4.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.6590909091rem + 4.2045454545vw ,4.8125rem)) {
    .tabs-products__navigation {
      margin-bottom: calc(2.5rem + 2.3125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.9772727273rem + 1.3636363636vw ,2rem)) {
    .what-we-do__body > * {
      margin-bottom: clamp(1.25rem ,.9772727273rem + 1.3636363636vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.9772727273rem + 1.3636363636vw ,2rem)) {
    .what-we-do__body > * {
      margin-bottom: calc(1.25rem + .75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,-0.3522727273rem + 11.1363636364vw ,8rem)) {
    .pop-products__header:not(:last-child) {
      margin-bottom: clamp(1.875rem ,-.3522727273rem + 11.1363636364vw ,8rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,-0.3522727273rem + 11.1363636364vw ,8rem)) {
    .pop-products__header:not(:last-child) {
      margin-bottom: calc(1.875rem + 6.125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.4431818182rem + 7.1590909091vw ,5.8125rem)) {
    .feedback__header:not(:last-child) {
      margin-bottom: clamp(1.875rem ,.4431818182rem + 7.1590909091vw ,5.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.4431818182rem + 7.1590909091vw ,5.8125rem)) {
    .feedback__header:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding:clamp(0.9375rem ,0.1875rem + 3.75vw ,3rem)) {
    .item-feedback {
      padding: clamp(.9375rem ,.1875rem + 3.75vw ,3rem)
    }
  }
  @supports not (padding:clamp(0.9375rem ,0.1875rem + 3.75vw ,3rem)) {
    .item-feedback {
      padding: calc(.9375rem + 2.0625 * (100vw - 20rem)/ 55)
    }
  }
}
@media ((max-width:43.75em) and (min-width:26.25em)) {
  .splide {
    margin-right: -.9375rem
  }
}
@media (min-width:52.5em) and (max-width:75em) {
  @supports (padding-left:clamp(1.25rem ,-8.375rem + 18.3333333333vw ,5.375rem)) {
    .hero__images {
      padding-left: clamp(1.25rem ,-8.375rem + 18.3333333333vw ,5.375rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-8.375rem + 18.3333333333vw ,5.375rem)) {
    .hero__images {
      padding-left: calc(1.25rem + 4.125 * (100vw - 52.5rem)/ 22.5)
    }
  }
}
@media (any-hover:hover) {
  .menu__item--parent:hover .spoilers__title::before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .menu__item--parent:hover .sub-list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
  .sub-list__item:hover {
    background-color: #0e333d;
    color: #fff9f4
  }
  .menu__link:hover,
  .product-card__link-title:hover {
    text-decoration-color: inherit
  }
  .hero__link:hover {
    text-decoration-color: transparent
  }
  .product-card__image-link:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .button:hover {
    background-color: #1a5767
  }
}